* {
    color: blue;
    background-color: red;
}

h1 {
    color: black;
}

a {
    font-size: 75px;
    text-align: center;
    text-decoration: none;
}

.container {
    text-align: center;
    margin: 200px;
}

